include AUTHORS
include COPYING
include GPL
include RELEASE-NOTES
include pungi.spec
include tox.ini
include share/*
include share/multilib/*
include doc/*
include tests/*
exclude tests/*.pyc
include tests/data/*
include tests/data/*/*
recursive-include tests/fixtures *.iso *.json *.log *.rpm *.xml *.bz2 *.gz MD5SUM SHA1SUM SHA256SUM .treeinfo
